@font-face {
  font-family: "LeagueSpartan";
  src: url("/font/LeagueSpartan-Bold.otf");
}

@font-face {
  font-family: "LibreBaskerville";
  src: url("/font/LibreBaskerville-Regular.otf");
}

html {
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
  font-family: "LibreBaskerville";
  letter-spacing: 1px;
  color: #222;
  background-color: #FFF;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

#sidebar {
  font-family: "LeagueSpartan";
  letter-spacing: 3px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ace6df;
  padding-top: 4.5em;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 4px 0px 5px -3px #888888;
}

/* Sidebar buttons */
#sidebar a {
  color: #556;
  text-decoration: none;
  padding: 16px 16px 16px 1.5em;
  font-size: 25px;
  background-color: inherit;
  display: block;
  transition: 0.15s;
  font-size: 36px;
}

#sidebar a:hover {
  background-color: #DFF;

}

/* Close button */
#sidebar #sidebar_close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2em;
  margin-right: 0.5em;
  color: #777;
  background-color: transparent;
}

/* Open button */
#sidebar_open {
  position: fixed;
  font-family: "LeagueSpartan";
  color: #777;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  font-size: 24px;
  text-decoration: none;
  padding: 16px;
  background: #ace6df;
  transition: 0.3s;
  width: 1em;
  box-shadow: 4px 0px 5px -3px #888888;
}

#sidebar_open:hover {
  color: #AAB;
}

/* Spacing for the sidebar, positions the content div to the right of the
 * sidebar_open column. Used so that the width of spacing can be specified in
 * em. */
#sidebar_open_spacing { 
  font-family: "LeagueSpartan";
  font-size: 24px;
  padding: 16px;
  flex: 0 1 1em;
}

#sidebar #sidebar_close:hover {
  color: #AAB;
  background-color: transparent;
}

#content {
  flex: 1 1 auto;
}

#cover {
  height: 400px;
  background: #eef;
  box-shadow: inset 0px -4px 5px -3px #888888;
}

#friend_list {
}

.friendlist_item {
  display: block;
  height: 96px;
  width: 600px;

  margin: 0 auto;

  padding: 10px 10px 20px 10px;
}

.friendlist_item:before {
  display: block;
  content: "";
  height: 1px;

  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 250, from(#777), to(#EFF));
  width: 600px;

  margin-bottom: 10px
}

li.friendlist_item>div {
  display: flex;
  align-items: center;
  float: left;
  margin-right: 40px;
  height: 100%;
}

.friendlist_item img {
  border-radius: 50%;
  border: 2px solid #CCE;
}

.friendlist_item_info {
  display: block;
  clear: left;
}

#friend_subject_year {
  text-align: center;
  float: right;
}
